@import "~@windows/assets/styles/variables";

html,
body {
  @include theme {
    background-color: val((start, bgColor)) !important;
  }
}

.layout-start {
  .drag-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: -1;
    -webkit-app-region: drag;
  }
}
